body{
    font-family:sans-serif;
}

.titolo{
    font-size: 40px;
    line-height: 1;
}

.spaziobottoni{
    vertical-align:middle;
    height: 50px;
}

.page-header{
    background-color: white;
}

.sfondobody{
    background-color: white;
}

.page-header img {
    vertical-align: middle;
}

.page-header h1{
    line-height: 1;
    display: inline;
    vertical-align: middle;
}

.enable{
    border-radius: 5px;
    background-color:deepskyblue;
    color: white;
    border-color: deepskyblue;
}

.disable{
    border-radius: 5px;
    color: grey;
    border-color: grey;
}

.editorial{
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
    border-color: deepskyblue;
}

.goals{
    background-color:rebeccapurple;
    color: white;
    border-radius: 5px;
    border-color: rebeccapurple;
}

.recruiting{
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: green;
}

.mobile{
    background-color: orange;
    color: white;
    border-radius: 5px;
    border-color: orange;
}

.website{
    background-color: purple;
    color: white;
    border-radius: 5px;
    border-color: purple;
}

.sales{
    background-color:greenyellow;
    color: white;
    border-radius: 5px;
}

section{
    margin: 50px 200px 100px 100px;
}

.check{
    color: green;
    
}

.cross{
    color: red;
}

.quart{
    display: inline;
}

.recr{
    display: inline;
}

.mob{
    display: inline;
}

.inter{
    display: inline;
}

.summ{
    display: inline;
}

.sched{
    display: inline;
}

.homep{
    display: inline;
}

.onbo{
    display: inline;
}

.review{
    display: inline;
}