html {
    margin: 0 auto;
}

body{
    font-family:sans-serif;
}

.titolo{
    font-size: 40px;
    line-height: 1;
}

.spaziobottoni{
    /*margin: 70px 100px 100px 100px;*/
    vertical-align:middle;
    height: 100px;
}

.page-header{
    background-color: white;
}

.sfondobody{
    background-color: white;
}

.page-header img {
    vertical-align: middle;
}

.page-header h1{
    line-height: 1;
    display: inline;
    vertical-align: middle;
}

.enable{
    border-radius: 5px;
    background-color:deepskyblue;
    color: white;
}

.disable{
    border-radius: 5px;
    color: grey;
}

.editorial{
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
}

.goals{
    background-color:rebeccapurple;
    color: white;
    border-radius: 5px;
}

.recruiting{
    background-color: green;
    color: white;
    border-radius: 5px;
}

.mobile{
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.website{
    background-color: purple;
    color: white;
    border-radius: 5px;
}

.sales{
    background-color:greenyellow;
    color: white;
    border-radius: 5px;
}

